<div class="container">
    <h2 class="text-center">PRESENTACION</h2>
    <div class="d-flex justify-content-center">
        <p class="presentacion">
            En la sociedad actual como en épocas pasadas solo los mas fuertes sobreviven, dan fe de esto la evolución durante años del ser humano, esto se debe a las ventajas o desventajas competitivas; este escenario no es ajeno a empresas grandes medianas o pequeñas donde en un tan amplio espacio no es fácil sobresalir sumando así cualquier factor en la clave del éxito de una empresa es necesario realizar proyectos de mejoramiento en competitividad de las empresas usando metodologías aplicadas por otros en diversas latitudes que permitirán evolucionar de forma considerable la forma de hacer las cosas diferenciandonos respecto a los competidores y llevando con mayor valor los procesos ejecutados. La empresa MicroData es parte de este contexto, además como una empresa relativamente mediana, por su fácil maleabilidad y adaptación al cambio resulta conveniente para un proyecto como este en el que se busca aplicar buenas prácticas y obtener los mejores resultados en el área desempeñada.
        </p>
    </div>
</div>