<div class="container">
    <h2 class="text-center mb-2">BIBLIOGRAFÍA Y FUENTES</h2>
    <section class="mt-5">
        <ul>
            <li>http://www.microdata.com.pe</li>
            <li>https://www.sunarp.gob.pe/bus-personas-juridicas.asp</li>
            <li>https://www.a-zetasoft.com</li>
            <li>https://www.fretelweb.com</li>
            <li>https://www.netfyks.com</li>
            <li>https://www.emprendepyme.net/politicas-de-recursos-humanos.html</li>
            <li>https://www.youtube.com/watch?v=ddQHpD-hCWM</li>
            <li>https://www.youtube.com/watch?v=TBQ9UZl1KnI</li>
            <li>https://prezi.com/2qmay0pocjir/matriz-cuantitativa-de-planeacion-estrategica/?frame=e4589c39765444ddc3a8d8902db39528e1f25196</li>
            <li>https://www.eumed.net/tesis-doctorales/2006/pcv/2d.htm</li>
            <li>https://josmarketing.es/plan-estrategico-de-una-empresa/</li>
            <li>Fred R. David, Conceptos de ADMINISTRACIÓN ESTRATÉGICA, Novena Edición 2014</li>
            <li>Simón Andrade Espinoza PLANEACIÓN ESTRATÉGICA, Ed. Andrade 2007</li>
            <li>DIRECCIÓN ESTRATÉGICA
                Editor: Educación Continua On Line, S.L.
                Primera edición: Enero de 2006.
            </li>
        </ul>
    </section>
</div>