<nav class="navbar" #navbar>
    <div class="container-fluid"> 
        <button class="navbar-toggler" type="button" (click)="sidenav()">
            <i class="fas fa-bars"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <ul class="navbar-nav">
            <li class="nav-item mx-3">
                <img class="logo" src="https://microdata.com.pe/img/logo.png" alt="logo">
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
                <span>PLAN ESTRATEGICO</span>
            </li>
        </ul>
    </div>
</nav>