<div class="container">
    <h2 class="text-center mb-2">MATRIZ DE COMPETENCIAS</h2>
    <section class="mt-5">
        <h5>valores para la calificacion</h5>
        <table class="table table-bordered border-light text-white w-50">
            <tbody>
                <tr>
                    <td>4</td>
                    <td>
                        Una oportunidad mayor
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Una oportunidad menor
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Una amenaza menor
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        Una amenaza importante
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">
            <h4><strong>Matriz de evaluación de factor externo (EFE)</strong></h4>
            <div class="col-sm-6">
                <div class="container">
                    <section>
                        <table class="table table-bordered border-light text-white">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>ORTUNIDADES</th>
                                    <th>Valor</th>
                                    <th>Calif.</th>
                                    <th>valor pond.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        creciente demanda de software de teletrabajo por diferentes empresas por la
                                        pandemia.
                                    </td>
                                    <td>0.05</td>
                                    <td>4</td>
                                    <td>0.20</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>constante avance y desarrollo de tecnologías para desarrollar software de
                                        calidad.
                                    </td>
                                    <td>0.05</td>
                                    <td>3</td>
                                    <td>0.15</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>servicio especial a los clientes nuevos ofreciendo servicios extra o con algunos
                                        descuentos..</td>
                                    <td>0.10</td>
                                    <td>4</td>
                                    <td>0.40</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Necesidad de sistemas de información web en el contexto actual.</td>
                                    <td>0.10</td>
                                    <td>4</td>
                                    <td>0.40</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Interacción entre clientes y administradores de forma no presencial.
                                    </td>
                                    <td>0.05</td>
                                    <td>3</td>
                                    <td>0.15</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        aprovechamiento en la difusión de publicidad en las redes sociales, por el uso
                                        creciente de estas redes a razón de la pandemia.
                                    </td>
                                    <td>0.10</td>
                                    <td>3</td>
                                    <td>0.30</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>
                                        posibilidad de expandirse en nuevos mercados nacionales e internacionales por el
                                        por
                                        ser una empresa de TI
                                    </td>
                                    <td>0.5</td>
                                    <td>4</td>
                                    <td>0.60</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <section>
                        <table class="table table-bordered border-light text-white">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>AMENAZAS</th>
                                    <th>Valor</th>
                                    <th>Calif.</th>
                                    <th>valor pond.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        servicios ofrecidos por los competidores a bajo costo.
                                    </td>
                                    <td>0.10</td>
                                    <td>2</td>
                                    <td>0.20</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        surgimiento constante de empresas que ofrecen servicios similares.
                                    </td>
                                    <td>0.10</td>
                                    <td>2</td>
                                    <td>0.20</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        gran posicionamiento de los competidores en el mercado.
                                    </td>
                                    <td>0.05</td>
                                    <td>1</td>
                                    <td>0.05</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        puede existir pérdidas en las inversiones.
                                    </td>
                                    <td>0.05</td>
                                    <td>1</td>
                                    <td>0.05</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Dificultad de captura de requerimientos debido al contexto actual de pandemia.
                                    </td>
                                    <td>0.10</td>
                                    <td>2</td>
                                    <td>0.20</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        Adaptación de empleados a nuevas funciones en la empresa, frente al surgimiento
                                        de nuevas tecnologías de desarrollo.
                                    </td>
                                    <td>0.05</td>
                                    <td>1</td>
                                    <td>0.05</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="container">
                <h5><strong>Interpretacion:</strong></h5>
                <p>
                    las valoraciones para las oportunidades son 3 y 4, dependiendo de la magnitud que representa una
                    oportunidad, y las amenazan se califican con valores de 1 y 2 dependiendo de la magnitud de la
                    amenaza contra los intereses de la empresa.
                </p>
                <ul>
                    <li>
                        Oportunidades:
                        Se identificaron 7 oportunidades donde un 42% representan oportunidad mayor y un 58% oportunidad
                        menor.
                    </li>
                    <li>
                        Amenazas
                        Se identificaron 6 amenazas, 50% representan amenaza menor y 50% amenaza importante.
                        El valor 2.95 indica que el sector es más o menos atractivo con oportunidades que se deben
                        aprovechar al máximo.
                    </li>
                </ul>
                <h5><strong>Recomendación:</strong></h5>
                <p>
                    El resultados del valor ponderado nos indica que en el mercado existe regularmente más oportunidades
                    externas que se deberían aprovechar de manera estratégica sin obviar ninguna, porque también existen
                    amenazas que de alguna manera pueden afectar a los intereses de la empresa, ya que el valor obtenido
                    no es un valor top o muy cercano al menos, pero si está por encima del promedio.
                </p>
            </div>
        </div>
        <hr>
        <h5>valores para la calificacion</h5>
        <table class="table table-bordered border-light text-white w-50">
            <tbody>
                <tr>
                    <td>4</td>
                    <td>
                        Una fortaleza mayor
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Una fortaleza menor
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Una debilidad menor
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        Una debilidad importante
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">
            <h4><strong>Matriz de evaluación de factor interno (EFI)</strong></h4>
            <div class="col-sm-6">
                <div class="container">
                    <table class="table table-bordered border-light text-white">
                        <thead>
                            <tr>
                                <th>Nro</th>
                                <th>FORTALEZAS</th>
                                <th>Valor</th>
                                <th>Calif.</th>
                                <th>valor pond.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Desarrollo de software con diseños únicos
                                </td>
                                <td>0.15</td>
                                <td>4</td>
                                <td>0.60</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Calidad total del producto
                                </td>
                                <td>0.09</td>
                                <td>3</td>
                                <td>0.27</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Nivel educativo de profesionales en TIC
                                </td>
                                <td>0.07</td>
                                <td>3</td>
                                <td>0.21</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    Capacidad creativa y generación de ideas
                                </td>
                                <td>0.08</td>
                                <td>3</td>
                                <td>0.24</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    Flexibilidad y adaptación de las TICs
                                </td>
                                <td>0.10</td>
                                <td>3</td>
                                <td>0.30</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    Capacidad para trabajar en equipo
                                </td>
                                <td>0.10</td>
                                <td>4</td>
                                <td>0.40</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    personal con experiencia y con vocación de servicio
                                </td>
                                <td>0.10</td>
                                <td>4</td>
                                <td>0.40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <section>
                        <table class="table table-bordered border-light text-white">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>DEBILIDADES</th>
                                    <th>Valor</th>
                                    <th>Calif.</th>
                                    <th>valor pond.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Falta de estrategias y formas de trabajo unificadas
                                    </td>
                                    <td>0.05</td>
                                    <td>1</td>
                                    <td>0.05</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        No se tiene una plan para marketing
                                    </td>
                                    <td>0.10</td>
                                    <td>1</td>
                                    <td>0.10</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        Insuficiente documentación de procesos
                                    </td>
                                    <td>0.10</td>
                                    <td>2</td>
                                    <td>0.20</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Débil situación financiera
                                    </td>
                                    <td>0.15</td>
                                    <td>2</td>
                                    <td>0.30</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="container">
                <h5><strong>Interpretacion:</strong></h5>
                <p>
                    las valoraciones para las fortalezas son 3 y 4, dependiendo de la magnitud que representa una
                    fortaleza de la empresa, y las debilidades se califican con valores de 1 y 2.
                </p>
                <ul>
                    <li>
                        Fortalezas
                        Se identificaron 7 fortalezas donde un 42% representan una fortaleza menor y un 58% mayores
                        fortalezas.
                    </li>
                    <li>
                        Debilidades
                        Se identificaron 4 debilidades, 50% representan debilidad menor y 50% debilidad mayor.
                    </li>
                </ul>
                <h5><strong>Recomendación:</strong></h5>
                <p>
                    La recomendación es siempre mantener estas potencialidades y capacidades que se tiene como empresa.
                    Disminuir el impacto de las debilidades en la empresa aprovechando las fortalezas.
                </p>
            </div>
        </div>
        <h4><strong>Matriz de perfil competitivo</strong></h4>
        <div class="container">
            <p><strong>FRETELWEB EIRL:</strong></p>
            <p>s una empresa de soluciones digitales en la industria del Software.
                Servicios detallados son:
                Páginas web
                Dominios y hosting
                Publicidad en Internet
                Desarrollo de Software
                Aplicaciones para móviles
            </p>
            <p><strong>NETFYKS:</strong></p>
            <p>
                empresa especializada en el desarrollo de software, principalmente en entornos de programación Microsoft
                .NET , somos Microsoft Partner
            </p>
            <table class="table table-bordered border-light text-white">
                <tbody>
                    <tr>
                        <td rowspan="2">Nro</td>
                        <td rowspan="2">Factores de clave de exito</td>
                        <td rowspan="2">Ponderacion</td>
                        <td colspan="2">Micro data</td>
                        <td colspan="2">FRETELWEB</td>
                        <td colspan="2">NETFYKS</td>
                    </tr>
                    <tr>
                        <td>clasificacion</td>
                        <td>resultado</td>
                        <td>clasificacion</td>
                        <td>resultado</td>
                        <td>clasificacion</td>
                        <td>resultado</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>publicidad</td>
                        <td>0.15</td>
                        <td>3</td>
                        <td>0.45</td>
                        <td>2</td>
                        <td>0.20</td>
                        <td>2</td>
                        <td>0.30</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>calidad de servicio</td>
                        <td>0.20</td>
                        <td>3</td>
                        <td>0.60</td>
                        <td>3</td>
                        <td>0.60</td>
                        <td>3</td>
                        <td>0.60</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Direccion</td>
                        <td>0.10</td>
                        <td>2</td>
                        <td>0.20</td>
                        <td>2</td>
                        <td>0.20</td>
                        <td>2</td>
                        <td>0.20</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Participación en el mercado</td>
                        <td>0.15</td>
                        <td>3</td>
                        <td>0.30</td>
                        <td>3</td>
                        <td>0.45</td>
                        <td>3</td>
                        <td>0.45</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Expansión global</td>
                        <td>0.15</td>
                        <td>3</td>
                        <td>0.45</td>
                        <td>2</td>
                        <td>0.30</td>
                        <td>3</td>
                        <td>0.45</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Infraestructura</td>
                        <td>0.10</td>
                        <td>2</td>
                        <td>0.20</td>
                        <td>3</td>
                        <td>0.30</td>
                        <td>2</td>
                        <td>0.20</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Reputación de la marca</td>
                        <td>0.15</td>
                        <td>3</td>
                        <td>0.45</td>
                        <td>3</td>
                        <td>0.45</td>
                        <td>2</td>
                        <td>0.30</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total de resultado ponderado</td>
                        <td>1.00</td>
                        <td></td>
                        <td>2.65</td>
                        <td></td>
                        <td>2.50</td>
                        <td></td>
                        <td>2.50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>