<div class="container">
    <h2 class="text-center mb-2">PLAN ESTRATÉGICO – ETAPA FILOSÓFICA</h2>
    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Vision</strong></h4>
                <section>
                    <p>
                    Ofrecer e implementar servicios de software a escala global, convirtiéndonos en el socio estratégico de grandes organizaciones en diversos sectores.
                    </p>
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Misión</strong></h4>
                <section>
                    <p>
                        Crear soluciones de software que ayuden a nuestros clientes alcanzar sus objetivos de negocio.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Valores</strong></h4>
                <section>
                    <ul>
                        <li>
                            brindar a los clientes servicios de tecnologías de la información y software de calidad.
                        </li>
                        <li>
                            La pasión por nuestra profesión es una característica común de nuestro equipo de trabajo.
                        </li>
                        <li>
                            para alcanzar los objetivos de los proyectos de manera eficiente, se realiza en equipo.
                        </li>
                        <li>
                            brindar soluciones realistas, aplicables a su contexto actual de cada cliente.
                        </li>
                      </ul>
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Politicas</strong></h4>
                <section>
                    <ul>
                        <li>
                            brindar una capacitación obligatoria a los nuevos integrantes de la empresa.
                        </li>
                        <li>
                            fomentar la cooperación entre los miembros del equipo.
                        </li>
                        <li>
                            generar un buen clima laboral entre los trabajadores, desde los líderes, esto será clave para el éxito de la empresa.
                        </li>
                        <li>
                            mantener la comunicación continua con nuestros clientes y proveedores, es algo que nos permite observar y detectar sus necesidades y de manera proactiva, proponer y elaborar soluciones
                        </li>
                      </ul>
                </section>
            </div>
        </div>
    </div>
</div>