<div class="container">
    <h2 class="text-center my-2 mb-5">MATRIZ PE y EA</h2>
    <section>
        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td colspan="2">Posición Estratégica Interna</td>
                    <td colspan="2">Posición Estratégica Externa</td>
                </tr>
                <tr>
                    <td>Fortaleza Financiera (FF)</td>
                    <td>de 1 a 6</td>
                    <td>Estabilidad ambiental (EA)</td>
                    <td>de -1 a -6</td>
                </tr>
                <tr>
                    <td>Rendimiento sobre la inversión</td>
                    <td>4</td>
                    <td>Cambios tecnológicos</td>
                    <td>-2</td>
                </tr>
                <tr>
                    <td>Capital de trabajo</td>
                    <td>4</td>
                    <td>Variación de la demanda</td>
                    <td>-2</td>
                </tr>
                <tr>
                    <td>Facilidad para salir del mercado</td>
                    <td>5</td>
                    <td>Barreras de ingreso al mercado</td>
                    <td>-1</td>
                </tr>
                <tr>
                    <td>Riesgo involucrado en el negocio</td>
                    <td>3</td>
                    <td>Presión competitiva</td>
                    <td>-2</td>
                </tr>
                <tr>
                    <td>Ventaja Competitiva (VC)</td>
                    <td>de -1 a -6</td>
                    <td>Fortaleza industrial (FI)</td>
                    <td>de 1 a 6</td>
                </tr>
                <tr>
                    <td>Participación en el mercado</td>
                    <td>-2</td>
                    <td>Potencial de crecimiento</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Conocimiento tecnológico</td>
                    <td>-1</td>
                    <td>Utilización de recursos</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Utilización de la capacidad de la competencia</td>
                    <td>-3</td>
                    <td>Facilidad de ingreso al mercado</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Calidad de servicio</td>
                    <td>-1</td>
                    <td>Potencial de utilidades</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td>fortaleza industrial (FI) + Ventaja competitiva (VC)</td>
                    <td>2.25</td>
                    <td>fortaleza financiera (FF) + Estabilidad ambiental (EA)</td>
                    <td>1.75</td>
                </tr>
            </tbody>
        </table>
    </section>
    <hr>
    <img src="assets/peea.png" alt="matriz pe y ea" srcset="">
    <h5><strong>Interpretacion:</strong></h5>
    <p>
        Al obtener como resultado donde el los valores de los ejes X, Y (2.25, 1.75), se ubican en el primer cuadrante,
        la organización se encuentra en una posición excelente para utilizar sus fortalezas internas con el propósito de
        aprovechar las oportunidades externas y superar sus debilidades internas, y evitar amenazas externas. De esta
        forma, se puede: Penetrar el mercado.
    </p><br><br>
    <hr><br><br>
    <h2 class="text-center my-2 mb-5">MATRIZ BCG</h2>
    <img src="assets/bcg.png" alt="matriz pe y ea" srcset="">
    <br><br>
    <hr><br><br>
    <h2 class="text-center my-2 mb-5">MATRIZ INTERNA Y EXTERNA</h2>
    <img src="assets/MIE.png" alt="matriz pe y ea" srcset="">
    <br><br>
    <hr><br><br>
    <h2 class="text-center my-2 mb-5">MATRIZ DE ESTRATEGIA PRINCIPAL</h2>
    <img src="assets/MEP.png" alt="matriz pe y ea" srcset="">
    <br>
    <h5><strong>Analisis:</strong></h5>
    <p>
        Al obtener como resultado donde el los valores de los ejes X, Y (2.25, 1.75), se ubican en el primer cuadrante,
        la organización se encuentra en una posición excelente para utilizar sus fortalezas internas con el propósito de
        aprovechar las oportunidades externas y superar sus debilidades internas, y evitar amenazas externas. De esta
        forma, se puede: Penetrar el mercado.
    </p>
</div>