<div class="container">
    <h2 class="text-center mb-2">IMPLEMENTACIÓN DE LA ACCIÓN ESTRATÉGICA</h2>
    <section class="mt-5">
        <h4><strong>Objetivos anuales</strong></h4>
        <ul>
            <li>
                Formar a todos los departamentos de la empresa para ser más competitivos.
            </li>
            <li>
                Mejorar la demanda y el reconocimiento de nuestros servicios.
            </li>
            <li>
                Aumentar el número de empleados en el campo de programación.
            </li>
        </ul><br>
        <h4><strong>Política presupuestaria</strong></h4>
        <ul>
            <li>
                La empresa Micro Data realizará sistemas para instituciones públicas y privadas para que sigan sus
                actividades con trabajo remoto. Este método están realizando todas las empresas debido a la coyuntura
                que hoy se vive por la pandemia.
            </li>
            <li>
                La empresa Micro Data aumentará sus gastos un 45% durante este año.
            </li>
        </ul><br>
        <h4><strong>Política de recursos humanos</strong></h4>
        <ul>
            <li>
                Evaluación de desempeño del personal y equipos de trabajo.
            </li>
            <li>
                Asignar líderes y especialistas de proyecto a los equipos
            </li>
            <li>
                Mantener la capacitación de los empleados
            </li>
            <li>
                Mantener clima laboral adecuado
            </li>
        </ul><br>
        <h4><strong>Gestion de cambio</strong></h4>
        <p>
            La empresa Micro Data es una de las empresas conocidas que existen en la ciudad de Arequipa. Aplicando el
            marketing digital y ofreciendo servicios en diferentes partes del país aumentaremos el número de clientes,
            lo que implica aumentar la cantidad de empleados para mejorar nuestros servicios y hacer la entrega en su
            debido momento y así satisfacer a nuestros clientes.
        </p><br>
        <h4><strong>Política para todos</strong></h4>
        <ul>
            <li>
                Evaluación de desempeño del personal y equipos de trabajo.
            </li>
            <li>
                Asignar líderes y especialistas de proyecto a los equipos
            </li>
            <li>
                Mantener la capacitación de los empleados
            </li>
            <li>
                Mantener clima laboral adecuado
            </li>
        </ul><br>
    </section>
</div>