<div class="container">
    <h2 class="text-center mb-2">CARACTERÍSTICAS GENERALES DE LA INSTITUCIÓN</h2>
    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Ubicación geográfica</strong></h4>
                <section>
                    <p>MicroData software factory and engineering, es una empresa peruana que brinda sus servicios desde
                        la
                        región de Arequipa.
                    </p>
                    <div class="row">
                        <div class="col-sm-5">Departamento :</div>
                        <div class="col-sm-7">Arequipa</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">Provincia :</div>
                        <div class="col-sm-7">Arequipa</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">Distrito :</div>
                        <div class="col-sm-7">Arequipa</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">Dirección :</div>
                        <div class="col-sm-7">urbanización de La perla-cercado, en la calle sebastian barranca #311 2do
                            piso
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Acerca de la institución</strong></h4>
                <section>
                    <p>
                        Somos una empresa dedicada al desarrollo de software y servicios de tecnologías de la
                        información, estamos dentro de las mejores empresas de software del Perú, líder en el desarrollo
                        de soluciones de software personalizadas, conformado por un equipo de profesionales con gran
                        experiencia en Ingeniería de Software y Administración de Proyectos. Estamos enfocados en
                        proveer productos y servicios con calidad a plena satisfacción de nuestros clientes.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Base Legal de la Institución</strong></h4>
                <section>
                    <table class="table table-bordered border-light text-white">
                        <tbody>
                            <tr>
                                <td>PARTIDA</td>
                                <td>11000362</td>
                            </tr>
                            <tr>
                                <td>RAZÓN / DENOMINACIÓN</td>
                                <td>MICRODATA SOCIEDAD COMERCIAL DE RESPONSABILIDAD LIMITADA</td>
                            </tr>
                            <tr>
                                <td>SIGLAS</td>
                                <td>MICRODATA S.R.L.</td>
                            </tr>
                            <tr>
                                <td>OFICINA</td>
                                <td>AREQUIPA-PERÚ</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Potencialidades</strong></h4>
                <section>
                    <ul>
                        <li>
                            Contamos con un sólido equipo humano en Ingeniería de Software que sigue un proceso sistemático, disciplinado y cuantificable para el desarrollo, operación y mantenimiento de software. Gestión de proyectos bajo el enfoque PMI © PMBOK e implementación de software bajo el enfoque ISO/IEC 29110.
                        </li>
                        <li>
                            Nuestra metodología de gestión de procesos le permitirá obtener en un corto plazo mejoras de eficiencia, efectividad, calidad, reducción de riesgos, reducción de costos y mayores ingresos logrando así la consolidación de su empresa en el mercado.
                        </li>
                        <li>
                            Somos una empresa certificada en el estándar ISO 29110 - Gestión de Proyectos e Implementación de Software.
                        </li>
                      </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Organización de la Empresa  Distribución Física de la Empresa (Infraestructura, Equipos, Maquinarias) Personal (Descripción de todo el personal)</strong></h4>
                <section>
                    <p class="my-2">La empresa cuenta con una oficina en Arequipa. La empresa cuenta con los equipos necesarios para realizar cualquier tipo de servicio que ofrecemos. </p>
                    <p class="my-2"><strong>Equipo de trabajo:</strong></p>
                    <img src="assets/equipo.png" alt="equipo de trabajo" srcset="" style="width: 100%;">
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h4><strong>Situación Actual de la Institución</strong></h4>
                <section>
                    <p>Actualmente la empresa ya tiene más de 19 años de experiencia en el mercado, donde más de 50 empresas son casos de éxito, con más de 1000 proyectos terminados.
                        contamos con tres certificaciones las más importantes como:
                        </p>
                    <ul>
                        <li>
                            Certificación de NTP-ISO/IEC:29110 otorgado por el Instituto de Calidad de la PUCP – (Perfil Básico) primera empresa certificada en Perú en el año 2013.
                        </li>
                        <li>
                            Certificación de Homologación de Proveedores otorgado por la Corporación HODELPE. Adopción del estándar ISO/IEC 29110 (Perfil Intermedio), esto en el año 2019.
                        </li>
                        <li>
                            Certificación de Homologación de Proveedores otorgado por la Corporación HODELPE. Trabajo remoto basado en el método OKR (Objectives and Key Results).
                            Implementación del estándar ISO/IEC 29110 (Perfil Intermedio), en el año 2020.
                        </li>
                      </ul>
                </section>
            </div>
        </div>
    </div>

</div>