<div class="container">
    <h2 class="text-center mb-2">CÓMO AFECTA A LA ORGANIZACIÓN LA APLICACIÓN DE LOS OBJETIVOS ESTRATÉGICOS</h2>
    <section class="mt-5">
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th style="width: 20%;">Razon</th>
                    <th>Efecto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>En el mercado</td>
                    <td>La empresa incrementará su mercado ya no solo en Arequipa, sino también en diferentes ciudades que existen en el país. Además, las redes sociales nos ayudará para que la empresa sea más conocida.</td>
                </tr>
                <tr>
                    <td>En el Personal</td>
                    <td>
                        Se formará un equipo eficiente y comprometido con la empresa a través de capacitaciones que recibirán nuestros empleados con el fin de cumplir nuestros objetivos.
                    </td>
                </tr>
                <tr>
                    <td>Tecnología</td>
                    <td>Se implementará más equipos de trabajo actualizados. </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>