<div class="container">
    <h2 class="text-center my-2 mb-5">MATRIZ FODA Y ESTRATEGIAS FO-FA-DO-DA</h2>
    <section>
        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td rowspan="9" colspan="2"></td>
                    <td> </td>
                    <td>OPORTUNIDADES</td>
                    <td> </td>
                    <td>OPORTUNIDADES</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>creciente demanda de software de teletrabajo en diferentes empresas por la pandemia.</td>
                    <td>A2</td>
                    <td>servicios ofrecidos por los competidores a bajo costo.</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>constante avance y desarrollo de tecnologías para desarrollar software de calidad.</td>
                    <td>A2</td>
                    <td>surgimiento constante de empresas que ofrecen servicios similares.</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>servicio especial a los clientes nuevos ofreciendo servicios extra o con algunos descuentos.</td>
                    <td>A3</td>
                    <td>gran posicionamiento de los competidores en el mercado.</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>servicio especial a los clientes nuevos ofreciendo servicios extra o con algunos descuentos.</td>
                    <td>A3</td>
                    <td>gran posicionamiento de los competidores en el mercado.</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Necesidad de sistemas de información web en el contexto actual.</td>
                    <td>A4</td>
                    <td>puede existir pérdidas en las inversiones.</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Interacción entre clientes y administradores de forma no presencial.</td>
                    <td>A5</td>
                    <td>Dificultad de captura de requerimientos debido al contexto actual de pandemia.</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>aprovechamiento en la difusión de publicidad en las redes sociales, por el uso creciente de estas redes a razón de la pandemia.</td>
                    <td>A6</td>
                    <td>Adaptación de empleados a nuevas funciones en la empresa, frente al surgimiento de nuevas tecnologías de desarrollo.</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>posibilidad de expandirse en nuevos mercados nacionales e internacionales por el por ser una empresa de TI</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>FORTALEZAS</td>
                    <td></td>
                    <td>ESTRATEGIAS FO</td>
                    <td></td>
                    <td>ESTRATEGIAS FA</td>
                </tr>
                <tr>
                    <td>F1</td>
                    <td>Desarrollo de software con diseños únicos</td>
                    <td></td>
                    <td>Utilizar nuestros diseños realizados por nuestro personal de trabajo, para expandirnos en nuevos mercados nacionales e internacionales. (F1,O7)</td>
                    <td></td>
                    <td>Aprovechar nuestros diseños únicos y calidad del producto para diferenciarse de las empresas que ofrecen los mismos servicios y posicionarnos en el mercado. (F1, F2, A2, A3)</td>
                </tr>
                <tr>
                    <td>F2</td>
                    <td>Calidad total del producto</td>
                    <td></td>
                    <td>Utilizar la calidad de producto que ofrece la empresa para aprovechar la oportunidad de expandirse en nuevos mercados locales e internacionales (F2,O7)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>F3</td>
                    <td>Nivel de conocimiento de profesionales en TIC</td>
                    <td></td>
                    <td>utilizar el conocimiento avanzado que tiene el personal en las TIC, para aprovechar la creciente necesidad de contar con sistemas web por parte de las empresas (F3,O4)</td>
                    <td></td>
                    <td>Aprovechar el nivel de conocimiento de profesionales en TIC y la capacidad creativa de tener nuevas ideas para la captura de requerimientos durante la pandemia. (F3, F4, A5)</td>
                </tr>
                <tr>
                    <td>F4</td>
                    <td>Capacidad creativa y generación de ideas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>F5</td>
                    <td>Flexibilidad y adaptación de las TICs</td>
                    <td></td>
                    <td>Utilizar la flexibilidad y la capacidad y el conocimiento en TIC del personal para sacar provecho del surgimiento de nuevas tecnologías. (F5,F3,O2)</td>
                    <td></td>
                    <td>Aprovechar la flexibilidad y adaptación de las TICs de los empleados para familiarizarse rápidamente con las nuevas tecnologías de desarrollo. (F5, A6)</td>
                </tr>
                <tr>
                    <td>F6</td>
                    <td>Flexibilidad y adaptación de las TICs</td>
                    <td></td>
                    <td>Utilizar la flexibilidad y la capacidad y el conocimiento en TIC del personal para sacar provecho del surgimiento de nuevas tecnologías. (F5,F3,O2)</td>
                    <td></td>
                    <td>Aprovechar la flexibilidad y adaptación de las TICs de los empleados para familiarizarse rápidamente con las nuevas tecnologías de desarrollo. (F5, A6)</td>
                </tr>
                <tr>
                    <td>F7</td>
                    <td>personal con experiencia y con vocación de servicio</td>
                    <td></td>
                    <td>Utilizar la experiencia y la vocación del personal para aprovechar la creciente demanda de software (F7,O1)</td>
                    <td></td>
                    <td>Aprovechar la experiencia de los integrantes para minimizar las pérdidas(F7,A4)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>DEBILIDADES</td>
                    <td></td>
                    <td>ESTRATEGIA DO</td>
                    <td></td>
                    <td>ESTRATEGIA DA</td>
                </tr>
                <tr>
                    <td>D1</td>
                    <td>Falta de estrategias y formas de trabajo unificadas</td>
                    <td></td>
                    <td>mejorar las estrategias de trabajo, para crecer y expandirnos en nuevos mercados(A1,07)</td>
                    <td></td>
                    <td>Implementar estrategias y formas de trabajo que estén unificadas para así diferenciarnos de las empresas que ofrecen el mismo servicio. (D1, A2)</td>
                </tr>
                <tr>
                    <td>D2</td>
                    <td>No se tiene una plan para marketing</td>
                    <td></td>
                    <td>Implementar un plan de marketing para difundir la publicidad en las diferentes redes sociales (D2,O6)</td>
                    <td></td>
                    <td>Realizar un plan de marketing para crecer como empresa y estar bien posicionados frente a grandes empresas que existen en el mercado. (D2, A3)</td>
                </tr>
                <tr>
                    <td>D3</td>
                    <td>Insuficiente documentación de procesos</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Aumentar la documentación de procesos para facilitar la captura de requerimientos durante la pandemia. (D3, A5)</td>
                </tr>
                <tr>
                    <td>D4</td>
                    <td>Débil situación financiera</td>
                    <td></td>
                    <td>Mejorar la situación financiera aprovechando la creciente necesidad de software de teletrabajo (D4,O1)</td>
                    <td></td>
                    <td>Mejorar la situación financiera para evitar pérdidas en las inversiones.(D4, A4)</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>