<div class="container">
    <h2 class="text-center mb-2">ENUMERACIÓN DE LOS OBJETIVOS (EJES) EJES ESTRATÉGICOS</h2>
    <section class="mt-5">
        <ul>
            <li>
                Implementar la estrategia de marketing digital.
            </li>
            <li>
                Impulsar el compromiso de los empleados
            </li>
            <li>
                Dar servicios en diferentes partes del país.
            </li>
            <li>
                Incrementar y afianzar el nivel de lealtad de los clientes.
            </li>
            <li>
                Posicionar nuestra empresa como pauta para otras del medio.
            </li>
        </ul>
        <h4><strong>Eje I. Implementar la estrategia de marketing digital</strong></h4>
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th>Objetivos estratégicos</th>
                    <th>Objetivos operativos y acciones</th>
                    <th>Responsable</th>
                    <th>Indicadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enfocar la publicidad para ciertos lugares y personas específicas</td>
                    <td>Hacer un estudio de mercado de lugares y personas mayores que trabajan para una empresa.</td>
                    <td>Departamento de Marketing </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Alternar la publicidad en diferentes tipos de redes sociales</td>
                    <td>
                        Crear diseños especializados y cortometrajes llamativos para el público 
                    </td>
                    <td>Departamento de Marketing</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table><br><br>
        <h4><strong>Eje II. Impulsar el compromiso de los empleados</strong></h4>
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th>Objetivos estratégicos</th>
                    <th>Objetivos operativos y acciones</th>
                    <th>Responsable</th>
                    <th>Indicadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mantener personal actualizado</td>
                    <td>mantener informado al empleado de las demandas actuales del mercado, empleando diferentes charlas informativas</td>
                    <td>recursos humanos</td>
                    <td>100% personal actualizado</td>
                </tr>
                <tr>
                    <td>Generar políticas de reconocimiento al empleado y a los equipos de trabajo</td>
                    <td>
                        Utilizando las redes sociales para las felicitaciones y reconocimientos además de incentivos económicos.
                        aprovechar para fomentar la participación de otros empleados
                    </td>
                    <td>gerencia</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h4><strong>Eje III. Dar servicios en diferentes partes del país.</strong></h4>
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th>Objetivos estratégicos</th>
                    <th>Objetivos operativos y acciones</th>
                    <th>Responsable</th>
                    <th>Indicadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Consolidar relaciones con distintas empresas del país.</td>
                    <td>Ofrecer sistemas a la medida de lo que requieran las empresas</td>
                    <td>Gerencia</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Brindar soporte por regiones a los sistemas</td>
                    <td>gerencia</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Tener un equipo de atención y guía sobre nuestros servicios</td>
                    <td>Contratar especialistas de atencion al cliente</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h4><strong>Eje IV. Incrementar y afianzar el nivel de lealtad de los clientes</strong></h4>
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th>Objetivos estratégicos</th>
                    <th>Objetivos operativos y acciones</th>
                    <th>Responsable</th>
                    <th>Indicadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ofrecer ofertas a clientes antiguos</td>
                    <td>Para seguir contando con los clientes antiguos ofrecer servicio extras sin costo alguno </td>
                    <td>Gerencia</td>
                    <td>cantidad de clientes antiguos</td>
                </tr>
                <tr>
                    <td>Aprovechar la opinión de los clientes</td>
                    <td>Usar los testimonios de los clientes para atraer nuevos consumidores y convencer a los clientes existentes de quedarse o actualizar sus productos</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Mantener la comunicación con los clientes</td>
                    <td>respondiendo lo más pronto posible a las consultas de los clientes</td>
                    <td>-</td>
                    <td>tiempo promedio al responder a los clientes</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h4><strong>Eje V. Posicionar nuestra empresa como pauta para otras del medio</strong></h4>
        <table class="table table-bordered border-light text-white">
            <thead>
                <tr>
                    <th>Objetivos estratégicos</th>
                    <th>Objetivos operativos y acciones</th>
                    <th>Responsable</th>
                    <th>Indicadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2">Proveer sistemas de calidad</th>
                    <th>Aplicar conceptos actualizados</th>
                    <th>Programadores</th>
                    <th>-</th>
                </tr>
                <tr>
                    <td>Tener buena documentación de la implementación de los sistemas</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td rowspan="2">Proteger la integridad y disponibilidad de los sistemas</td>
                    <td>Dar mantenimiento cada cierto tiempo</td>
                    <td>-</td>
                    <td>-</td>  
                </tr>
                <tr>
                    <td>Implementar medidas de seguridad para los sistemas</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Impulsar la visibilidad de la empresa</td>
                    <td>Incrementar la difusión de nuestra empresa en diferentes medios de publicidad</td>
                    <td>Departamento de Marketing</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>