<div class="container">
    <h2 class="text-center mb-2">MATRIZ DE LA PLANEACIÓN ESTRATÉGICA CUANTITATIVA (MPEC)</h2>
    <section class="mt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">1</div>
                    <div class="col-sm-8">Sin atractivo</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">2</div>
                    <div class="col-sm-8">Algo atractivo</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">3</div>
                    <div class="col-sm-8">Más o menos atractivo</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">4</div>
                    <div class="col-sm-8">Muy atractivo</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">PA</div>
                    <div class="col-sm-8">Puntaje del grado de atracción</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">PA</div>
                    <div class="col-sm-8">Puntaje total del grado de atracción</div>
                </div>
            </div>
        </div>

        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">Penetración en el Mercado</td>
                    <td colspan="2">Desarrollo de Mercados</td>
                    <td colspan="2">Desarrollo de productos</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Factores clave</td>
                    <td>valor</td>
                    <td>PA</td>
                    <td>PTA</td>
                    <td>PA</td>
                    <td>PTA</td>
                    <td>PA</td>
                    <td>PTA</td>
                </tr>
                <tr>
                    <td>Nro</td>
                    <td>OPORTUNIDADES</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>creciente demanda de software de teletrabajo en diferentes empresas por la pandemia.</td>
                    <td>0.05</td>
                    <td>4</td>
                    <td>0.20</td>
                    <td>4</td>
                    <td>0.20</td>
                    <td>3</td>
                    <td>0.15</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>constante avance y desarrollo de tecnologías para desarrollar software de calidad.</td>
                    <td>0.05</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>4</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>servicio especial a los clientes nuevos ofreciendo servicios extra o con algunos descuentos.
                    </td>
                    <td>0.05</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>4</td>
                    <td>0.20</td>
                    <td>2</td>
                    <td>0.10</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Necesidad de sistemas de información web en el contexto actual.</td>
                    <td>0.10</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>2</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Interacción entre clientes y administradores de forma no presencial.</td>
                    <td>0.05</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>2</td>
                    <td>0.10</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>aprovechamiento en la difusión de publicidad en las redes sociales, por el uso creciente de
                        estas redes a razón de la pandemia.</td>
                    <td>0.10</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>2</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>posibilidad de expandirse en nuevos mercados nacionales e internacionales por el por ser una
                        empresa de TI</td>
                    <td>0.15</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>3</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td></td>
                    <td>AMENAZAS</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>posibilidad de expandirse en nuevos mercados nacionales e internacionales por el por ser una
                        empresa de TI</td>
                    <td>0.15</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>3</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>surgimiento constante de empresas que ofrecen servicios similares.</td>
                    <td>0.10</td>
                    <td>3</td>
                    <td>0.30</td>
                    <td>3</td>
                    <td>0.30</td>
                    <td>2</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>gran posicionamiento de los competidores en el mercado.</td>
                    <td>0.10</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>3</td>
                    <td>0.30</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>puede existir pérdidas en las inversiones.</td>
                    <td>0.05</td>
                    <td>1</td>
                    <td>0.05</td>
                    <td>3</td>
                    <td>0.15</td>
                    <td>2</td>
                    <td>0.10</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Dificultad de captura de requerimientos debido al contexto actual de pandemia.</td>
                    <td>0.10</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Adaptación de empleados a nuevas funciones en la empresa, frente al surgimiento de nuevas
                        tecnologías de desarrollo.</td>
                    <td>0.05</td>
                    <td>2</td>
                    <td>0.10</td>
                    <td>2</td>
                    <td>0.10</td>
                    <td>4</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td></td>
                    <td>TOTAL</td>
                    <td>1.00</td>
                    <td colspan="7"></td>
                </tr>
            </tbody>
        </table><br>
        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">Penetración en el Mercado</td>
                    <td colspan="2">Desarrollo de Mercados</td>
                    <td colspan="2">Desarrollo de productos</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Factores clave</td>
                    <td>valor</td>
                    <td>PA</td>
                    <td>PTA</td>
                    <td>PA</td>
                    <td>PTA</td>
                    <td>PA</td>
                    <td>PTA</td>
                </tr>
                <tr>
                    <td>Nro</td>
                    <td>FORTALEZAS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Desarrollo de software con diseños únicos</td>
                    <td>0.15</td>
                    <td>2</td>
                    <td>0.30</td>
                    <td>2</td>
                    <td>0.30</td>
                    <td>3</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Calidad total del producto</td>
                    <td>0.09</td>
                    <td>4</td>
                    <td>0.36</td>
                    <td>4</td>
                    <td>0.36</td>
                    <td>4</td>
                    <td>0.36</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nivel educativo de profesionales en TIC</td>
                    <td>0.07</td>
                    <td>4</td>
                    <td>0.28</td>
                    <td>4</td>
                    <td>0.28</td>
                    <td>3</td>
                    <td>0.21</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Capacidad creativa y generación de ideas</td>
                    <td>0.08</td>
                    <td>3</td>
                    <td>0.24</td>
                    <td>4</td>
                    <td>0.32</td>
                    <td>3</td>
                    <td>0.24</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Flexibilidad y adaptación de las TICs</td>
                    <td>0.10</td>
                    <td>3</td>
                    <td>0.30</td>
                    <td>3</td>
                    <td>0.30</td>
                    <td>3</td>
                    <td>0.30</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Capacidad para trabajar en equipo</td>
                    <td>0.10</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>4</td>
                    <td>0.40</td>
                    <td>2</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>posibilidad de expandirse en nuevos mercados nacionales e internacionales por el por ser una
                        empresa de TI</td>
                    <td>0.15</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>4</td>
                    <td>0.60</td>
                    <td>3</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td></td>
                    <td>DEBILIDADES</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Falta de estrategias y formas de trabajo unificadas</td>
                    <td>0.05</td>
                    <td>1</td>
                    <td>0.05</td>
                    <td>1</td>
                    <td>0.05</td>
                    <td>1</td>
                    <td>0.05</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No se tiene una plan para marketing</td>
                    <td>0.10</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>1</td>
                    <td>0.10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Insuficiente documentación de procesos</td>
                    <td>0.10</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Débil situación financiera</td>
                    <td>0.15</td>
                    <td>2</td>
                    <td>0.30</td>
                    <td>1</td>
                    <td>0.15</td>
                    <td>1</td>
                    <td>0.15</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered border-light text-white">
            <tbody>
                <tr>
                    <td>.</td>
                    <td>------ SUMAS TOTALES ---------> </td>
                    <td>1.00</td>
                    <td colspan="2"><strong>5.73</strong></td>
                    <td colspan="2">5.71</td>
                    <td colspan="2">4.96</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <h4><strong>Interpretación:</strong></h4>
            <ul>
                <li>
                    Penetración en el mercado
                    Procede incrementar la participación de la empresa en el mercado actual
                </li>
                <li>
                    Desarrollo de mercado
                    Se aplica enfocándonos en atraer clientes de mercados a los que no se ha llegado aún.
                </li>
                <li>
                    Desarrollo productos
                    Se aplica desarrollando nuevos productos, para atraer más clientes de los mercados ya existentes.
                </li>
            </ul>
            <p>
                La estrategia de penetración en el mercado es la que tiene mayor puntaje de atracción por ende la
                sugerencia es implementar una estrategia de este tipo, para tener mayor presencia en el mercado actual,
                la estrategia puede incluir actividades para aumentar la publicidad, ofertas de servicios, entre otras.
                La estrategia nos permitirá conocer el nivel de participación que se tiene.
                La estrategia de desarrollo de mercado queda muy cerca, la estrategia de penetración en el mercado, lo
                que nos indica que estamos teniendo mucho éxito en lo que realizamos, y también se puede desarrollar una
                estrategia de este tipo con el objetivo de descubrir nuevos mercados nacionales e internacionales.
            </p>
        </div>
    </section>
</div>