<div class="container">
    <h2 class="text-center">RESUMEN EJECUTIVO</h2>
    <div class="d-flex justify-content-center">
        <p class="resumen">sabemos que las tecnologías de información y comunicación han sufrido un cambio radical y más en esta coyuntura
            de la
            pandemia sobre el COVID 19, todas las empresas dedicadas a este rubro deben mejorar de forma continua sus
            procesos,
            ver la forma de aplicar nuevas tecnologías que les lleven a mejorar como empresa. Este documento se basa en el
            plan
            estratégico TIC para la empresa Micro Data software factory and engineering, compañia del sector de las TIC en
            Arequipa, teniendo como objetivo que la empresa tenga presencia en el mercado a través de desarrollo de software
            de
            calidad, que permitirán el incremento de los ingresos y la haga más atractiva. Este plan estratégico también se
            está
            realizando con el fin de hacer un estudio completo de la empresa para encontrar oportunidades de mejora, luego a
            establecer los objetivos principales a lograr y hacer un diseño de estrategias para aplicarlo en el mediano y
            largo
            plazo en la compañía.</p>
    </div>
</div>