<div class="container">
    <h2 class="text-center mb-2">CONCLUSIONES</h2>
    <section class="mt-5">
        <ul>
            <li>El rubro de la empresa presenta un mercado atractivo, para incrementar la participación.</li>
            <li>Definir de forma precisa la misión y visión de la empresa, fue clave para fijar los objetivos claros y
                alcanzables, que serán los pilares del éxito de la empresa.</li>
            <li>El desarrollo del plan estratégico era necesario para asegurar la formulación de una estrategia sólida,
                que permita definir objetivos, organizar y coordinar ideas, conocer la empresa y su entorno.</li>
            <li>Uno de los factores importantes para el crecimiento de la empresa será efectuar el plan estratégico.
            </li>
        </ul>
    </section>
</div>